* {
    margin: 0;
    padding: 0;
}


/*image source:2.png*/

.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bg-img {
    position: absolute;
    z-index: 50;
}

.rectangle1 {
    position: relative;
    width: 100%;
    background: #ffffff;
    z-index: 100;
    display: flex;
    justify-content: center;
}


/*image source:aloe.png*/

.aloe {
    background-repeat: no-repeat;
    background-position: relative;
    width: 211px;
    height: 194px;
    left: 364px;
    top: 200px;
}

.main-img {
    position: relative;
    z-index: 100;
}


/*riddles*/

.verticalrectangle1 {
    position: absolute;
    width: 542px;
    height: 691px;
    left: 0px;
    top: 0px;
    background: #763626;
}

.verticalrectangle2 {
    position: absolute;
    width: 542px;
    height: 691px;
    left: 0px;
    top: 0px;
    background: #ffffff;
}

.centrecircle {
    position: absolute;
    width: 424px;
    height: 407px;
    left: 48px;
    top: 142px;
    background: #ffffff;
}


/* HOW MANY CAN YOU GET? */

.qstn {
    position: absolute;
    width: 326px;
    height: 310px;
    left: 97px;
    top: 191px;
    font-family: Rammetto One;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 84px;
    text-align: center;
    color: #000000;
}

.footer {
    position: relative;
    width: 1039px;
    height: 293px;
    background: #763626;
}


/* TEXT IN FOOT3ER: THE MORE NUMBER OF ANSWERS YOU GET RIGHT THE EASIER IT IS TO WIN */

.textfoot {
    position: absolute;
    width: 936px;
    height: 232px;
    left: 48px;
    top: 32px;
    font-family: Rammetto One;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 84px;
    text-align: center;
    color: #ffffff;
}


/*correct answer, good job */


/*image source:2.png*/

.bg2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bg2-img {
    position: absolute;
    z-index: 50;
}

.rectangle2 {
    position: relative;
    width: 100%;
    background: #ffffff;
    z-index: 100;
    display: flex;
    justify-content: center;
}


/*image source:cookie.png*/

.cookie {
    background-repeat: no-repeat;
    background-position: relative;
    width: 279px;
    height: 294px;
    left: 118px;
    top: 200px;
}

.main2-img {
    position: relative;
    z-index: 100;
}


/*image source:4.png*/

.excellent {
    position: absolute;
    width: 582px;
    height: 368px;
    left: 429px;
    top: 146px;
}

.sub1-img {
    position: relative;
    z-index: 100;
}


/*correct answer, good job */


/*image source:2.png*/

.bg3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bg3-img {
    position: absolute;
    z-index: 50;
}

.rectangle3 {
    position: relative;
    width: 100%;
    background: #ffffff;
    z-index: 100;
    display: flex;
    justify-content: center;
}


/*image source:oops.png*/

.oops {
    background-repeat: no-repeat;
    background-position: relative;
    width: 211px;
    height: 194px;
    left: 364px;
    top: 200px;
}

.main3-img {
    position: relative;
    z-index: 100;
}


/*image source:5.png*/

.goodluck {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 470px;
    top: 108px;
}

.sub2-img {
    position: relative;
    z-index: 100;
}